---
---

@import "{{ site.theme }}";

.vagrant-note {
  background-image: url(../img/vagrant-icon.png);
  background-position: 10px 10px;
  background-repeat: no-repeat;
  border: 4px solid #2991CC;
  margin: 10px 0 15px 0;
  padding: 10px 15px 5px 100px;
}

.vagrant-on-windows-note {
  background-image: url(../img/vagrant-on-windows-icon.png);
  background-position: 10px 10px;
  background-repeat: no-repeat;
  border: 4px solid #0078D8;
  margin: 10px 0 15px 0;
  padding: 10px 15px 5px 100px;
}
